body {
    background: url("./background.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

#board {
    width: 450px;
    height: 450px;
    background-color: lightblue;
    border: 5px solid slategray;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#lose,#win{
    display: none;
    width:200px;
    height: 150px;
    border-radius: 20px;
    background-color: red;
    box-shadow: 7px 17px 10px black;
    margin:  auto;
    position: relative;
    bottom: 350px;


}
#win{
    background-color: green !important;
}
.w{
    color: green !important;
}

#board img {
    width: 50px;
    height: 50px;
}
#lose #gameOverMessage,#win #gamewin{
    color: #fff;
    font-size: 15px; 
    text-align: center;
    height: 100px;
    position: relative;
    top: 40px;
}
#refreshButton {
    background-color:#fff;
    border: none;
    height: 40px;
    width: 100px;
    color: red;
    border-radius: 15px;
    cursor: pointer;
    margin: auto;
}

#refreshButton:hover {
    animation: AnimatedButton 0.9s both;
}

@keyframes AnimatedButton {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.50, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: scale3d(1,1,1);
}
}